body{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: rgb(98, 151, 211);
    font: normal 15pt arial;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: white;
    text-align: center;
    
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: auto;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.377);
    
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: white;
    text-align: center;
    font-style: italic;
}

div{
    text-align: center;
    padding: 8px;
}